@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Kanit&family=Lora:wght@600&family=Poppins:wght@100;200;300&family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: hsl(207, 4%, 99%);
    color: hsl(207, 4%, 28%);

}

h1,h2,h3{
    color: hsl(210, 5%, 15%);
    font-family: "Lora", serif;
    font-weight: 500;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.change-theme{
    font-size: 1.25rem;
    color: hsl(207, 4%, 16%);
    cursor: pointer;
    transition: color .3s;
}

body.dark-theme{
    background-color:black;
}

.dark-theme .home__title{
    color: bisque;
}
.dark-theme .home__social-link{
    color: bisque;
}
.dark-theme .home__social-link:hover{
    color: hsl(207, 4%, 99%);
}
.dark-theme .home__info-title{
    color: hsl(207, 4%, 99%);
}
.dark-theme .home__info-description{
    color: hsl(207, 4%, 99%);
}
.dark-theme .home__info-number{
    color: hsl(207, 4%, 99%);
}
.dark-theme .section__title{
    color: hsl(207, 4%, 99%);
}
.dark-theme .skills__title{
    color: hsl(207, 4%, 99%);
}
.dark-theme .skills__name{
    color: hsl(207, 4%, 99%);
}
.dark-theme .qualification__title{
    color: hsl(207, 4%, 99%);
}
.dark-theme .qualification__name{
    color: hsl(207, 4%, 99%);
}
.dark-theme .qualification__info{
    color: hsl(207, 4%, 99%);
}
.dark-theme .qualification__country{
    color: hsl(207, 4%, 99%);
}
.dark-theme .qualification__year{
    color: hsl(207, 4%, 99%);
}
.dark-theme .projects__title{
    color: hsl(207, 4%, 99%);
}
.dark-theme .projects__button{
    color: hsl(240, 10%, 77%);
}
.dark-theme .testimonial__subtitle{
    color: hsl(240, 9%, 65%);
}
.dark-theme .testimonial__description{
    color: hsl(240, 10%, 77%);
}
.dark-theme .testimonial__name{
    color: hsl(240, 10%, 77%);
}
.dark-theme .contact__title{
    color: hsl(240, 10%, 77%);
}
.dark-theme .contact__data a{
    color: hsl(240, 10%, 77%);
}
.dark-theme .contact__form-tag{
    color: hsl(240, 10%, 77%);
    background: black;
}
.dark-theme .contact__button{
    color: hsl(240, 10%, 77%);
}
.dark-theme .footer__title{
    color: hsl(240, 10%, 77%);
}
.dark-theme .footer__link{
    color: hsl(240, 10%, 77%);
}
.dark-theme .footer__social-link{
    color: hsl(240, 10%, 77%);
}
.dark-theme .swiper-button-next i{
    color: hsl(240, 52%, 94%);
}
.dark-theme .swiper-button-prev i{
    color: hsl(240, 52%, 94%);
}
.dark-theme .header{
    background-color: black;
}
.dark-theme .container{
    background-color: black;
}
.dark-theme .nav{
    background-color: black;
}
.dark-theme .nav__list {
    background-color: black;
    color: rgb(96, 95, 95);
}
.dark-theme .nav__link:hover{
    color: rgb(219, 207, 207);
}
.dark-theme .nav__logo{
    color: rgb(219, 207, 207);
}
.dark-theme .nav__buttons i{
    color: rgb(246, 237, 237);
}



.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;
}

.section__border{
    border-bottom:1px solid hsl(207, 4%, 28%);
    padding-bottom:3.5rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.section__subtitle{
    display: block;
    font-size: .813rem;
    color: hsl(207, 4%, 56%);
    margin-bottom: 3rem;
}

.main{
    overflow: hidden;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: 100;
}

.nav{
    height: calc(3.5rem + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
}


.nav__logo,
.nav__toggle,
.nav__close{
    color:hsl(207, 4%, 28%) ;
}

.nav__logo{
    font-family:"Lora", serif;
    font-weight: 500;
}

.nav__toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        width:88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        border-radius: 2rem;
        transition: bottom .3s;
        background-color: white;
        padding: 2rem 1.5rem 5rem;
    }

    .dark-theme .nav__menu{
        background-color: black;
    }
}

.nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: .75rem;
    color:hsl(207, 4%, 56%) ;
    transition: color .3s;
}

.nav__link:hover{
    color:hsl(207, 4%, 16%)
}

.nav__link i{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu{
    bottom:2rem;
}

.active-link{
    color: hsl(201, 6%, 53%);
}

.home__container{
    row-gap: 4rem;
    padding-top: 2rem;
}

.home__data{
    row-gap: 1.5rem;
}

.home__title{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

.home__blob{
    position: relative;
    width: 200px;
    height: 290px;
    background-color: hsl(207, 4%, 99%);
    border: 2px solid hsl(207, 4%, 56%);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
}

.home__perfil{
    width: 170px;
    height: 260px;
    background-color: rgb(232, 247, 247);
    border-radius: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home__perfil img{
    width: 150px;
}

.home__shape-waves,
.home__shape-circle{
    position: absolute;
    opacity: .1;
}

.home__shape-waves{
    width: 50px;
    left: -1.5rem;
    top: 5rem;
}

.home__shape-circle{
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
}

.home__social{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}

.home__social-link{
    font-size: 1.25rem;
    color:hsl(207, 4%, 56%);
    transition: color .3s;
}

.home__social-link:hover{
    color: hsl(207, 4%, 16%);
}

.home__info{
    display: grid;
    row-gap: 2rem;
}

.home__info-title{
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    color: hsl(207, 4%, 56%);
    margin-bottom: 1rem;
}

.home__info-description,
.home__info-number{
    font-family: "Lora, serif";
    color:hsl(207, 4%, 28%);
}

.home__info-description{
    padding-right: 4rem;
}

.home__info-number{
    font-size: 1.5rem;
    font-weight: 600;
}

.skills__container{
    row-gap: 3.rem;
}

.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: .813rem;
    font-weight: 600;
    margin-bottom:2.5rem ;
}

.skills__title i{
    font-size: 1rem;
    font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob{
    display: grid;
}

.skills__info{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills__data{
    justify-content: center;
    text-align: center;
}

.skills__blob{
    width: 80px;
    height: 100px;
    background-color: hsl(207, 4%, 95%);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
}

.skills__blob img{
    width: 40px;
}

.skills__name{
    font-size: .813rem;
    margin-bottom: .25rem;
}

.skills__subtitle{
    font-size: .625rem;
    color: hsl(207, 4%, 56%);
}

.skills__blob:hover img{
    animation: bounce-skills .6s;
}

@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}

.qualification{
    position: relative;
}

.qualification__container{
    row-gap: 3.5rem;
}

.qualification__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: .813rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.qualification__title i{
    font-size: 1rem;
}

.qualification__info{
    display: grid;
    row-gap: 2rem;
}

.qualification__name{
    font-size: .938rem;
    margin-bottom: 1.25rem;
}

.qualification__country,
.qualification__year{
    display: block;
    font-size: .813rem;
    color: hsl(207, 4%, 16%);
}

.qualification__country{
    margin-bottom: .75rem;
}

.qualification__img{
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 6rem;
    transform: rotate(15deg);
    opacity: .1;
}

.services__container{
    row-gap: 2.5rem;
    justify-content: center;
}

.services__card{
    position: relative;
    width: 228px;
    height: 322px;
    background-color: hsl(207, 4%, 95%);
    text-align: center;
    padding: 3.5rem 1rem;
    border-radius: 7.25rem;
}

.services__card i{
    display: block;
    font-size: 2rem;
    color: hsl(207, 4%, 16%);
    transition: transform .8s;
}

.services__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.services__border{
    width: 248px;
    height: 342px;
    border: 1.8px solid hsl(207, 4%, 56%);
    border-radius: 7.75rem;
    position: absolute;
    inset: 0;
    left: -10px;
    margin: auto;
    z-index: -1;
    transition: opacity .6s;
    opacity: 0;
}

.services__card:hover i{
    transform: rotateY(360deg);
}

.services__card:hover .services__border{
    opacity: 1;
}

.projects__container{
    overflow: initial;
}

.projects__content{
    display: grid;
    justify-content: center;
}

.projects__img{
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}

.projects__subtitle{
    font-size: .813rem;
    color: hsl(207, 4%, 56%);
}

.projects__title{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}

.projects__button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: hsl(207, 4%, 16%);
    font-size: .813rem;
}

.projects__button i{
    font-size: 1rem;
    transition: transform .3s;
}

.projects__button:hover i{
    transform: translateX(.25rem);
}

.swiper-slide{
    display: grid !important;
}

.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after{
    content: "";
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next{
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2.5rem;
    color: hsl(207, 4%, 16%);
}

.projects__container .swiper-button-prev{
    left: -1rem;
    top: 4.5rem;
    margin-left: 20px;
}


.projects__container .swiper-button-next{
    right: -1rem;
    top: 4.5rem;
    margin-right: 20px;
}

.projects__container .swiper-slide{
    margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets{
    bottom: 0;
}


.projects__container .swiper-pagination-bullet{
    background-color: hsl(207, 4%, 56%);
    opacity: initial;
}


.projects__container .swiper-pagination-bullet-active{
    background-color: hsl(207, 4%, 16%);
}

.testimonial{
    position: relative;
}

.testimonial__content{
    text-align: center;
}

.testimonial__description{
    font-family: "Lora", serif;
    color: hsl(207, 4%, 16%);
    margin-bottom: 1.5rem;
}

.testimonial__name{
    font-family: "Roboto", sans-serif;
    font-size: .813rem;
    margin-bottom: .25rem;
}

.testimonial__subtitle{
    font-size: .813rem;
    color: hsl(207, 4%, 56%);
}

.testimonial__img{
    width: 70px;
    transform: rotate(30deg);
    position: absolute;
    top: 5rem;
    right: -1.5rem;
    opacity: .1;
}


.testimonial__container .swiper-slide{
    margin-bottom: 4rem;
}

.testimonial__container .swiper-button-prev::after,
.testimonial__container .swiper-button-next::after{
    content: '';
}


.testimonial__container .swiper-button-prev,
.testimonial__container .swiper-button-next{
    font-size: 2rem;
    color: hsl(207, 4%, 16%); 
    width: initial;
    height: initial;
    top: initial;
    bottom: .5rem;
}

.testimonial__container .swiper-button-prev{
    left: calc(50% - 3rem);
}


.testimonial__container .swiper-button-next{
    right: calc(50% - 3rem);
}

.testimonial__container .swiper-button-disabled{
    opacity: initial;
    color: hsl(207, 4%, 56%);
}



.contact__container{
    row-gap: 3.5rem;
}

.contact__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: .813rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.contact__title i{
    font-size: 1rem;
    font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
    display: grid;
}

.contact__info{
    row-gap:2rem;
}

.contact__data{
    row-gap: .75rem;
}

.contact__data-title{
    font-size: .813rem;
    color: hsl(207, 4%, 56%);
}

.contact__data-info{
    font-size: .813rem;
    font-family: "Lora", serif;
    color: hsl(207, 4%, 56%);
}

.contact__button{
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: hsl(207, 4%, 16%);
    font-size: .813rem;
}

.contact__button i{
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover{
    transform: translateX(.25rem);
}

.contact__form{
    position: relative;
    row-gap: 2rem;
}

.contact__form-div{
    position: relative;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(207, 4%, 56%);
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: .938rem;
    font-family: "Lora", serif;
    color: hsl(207, 4%, 16%);
    background: none;
    outline: none;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: hsl(207, 4%, 99%);
    color: hsl(207, 4%, 16%);
    font-size: .75rem;
    font-weight: 500;
    padding: .35rem;
}

.contact__form-area{
    height: 10rem;
}

.contact__form-area textarea{
    resize: none;
}

.contact__form .contact__button{
    border: none;
    background: none;
    font-size: 1.25rem;
    font-family: "Lora", serif;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-top: .75rem;
}

.contact__form .contact__button{
    font-size: 1.5rem;
    font-weight: initial;
}

.contact__message{
    font-size: .813rem;
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}

.color-red{
    color: hsl(4, 71%, 50%);
}

.color-blue{
    color: hsl(207, 56%, 45%);
}


.footer__container{
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.footer__list,
.footer__social{
    display: flex;
    justify-content: center;
}

.footer__list{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer__link{
    color: hsl(207, 4%, 16%);
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    column-gap: 1.25rem;
}

.footer__social-link{
    font-size: 1.25rem;
    color: hsl(207, 4%, 16%);
    transition: transform .3s;
}

.footer__social-link:hover{
    transform: translateY(-.15rem);
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    font-size: .813rem;
    color: hsl(207, 4%, 56%);
}


::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75% );
}

::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 65% );
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 55% );
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 7.5rem;
    background-color: hsl(207, 4%, 99%);
    box-shadow: 0 4px 12px hsl(207, 24%, 35%, .15 );
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: hsl(207, 4%, 16%);
    z-index: 10;
    transition: bottom .3s, transform .3s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

.show-scroll{
    bottom: 7.5rem !important;
}

@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }

    .nav__menu{
        padding-bottom: 4rem;
    }
    .nav__list{
        gap: 1rem 1.25rem;
    }

    .skills__info{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .projects__img{
        width: 200px;
        justify-self: center;
    }
}

@media screen and (min-width: 576px) {
    .nav,
    .nav__menu{
        width: 380px;
    }
    .nav{
        margin: 0 auto;
    }

    .skills__container{
        justify-content: center;
    }

    .projects__container,
    .testimonial__container{
        width: 400px;
    }

    .projects__container{
        overflow: hidden;
    }
    .projects__container .swiper-button-prev{
        left: 1rem;
    }
    .projects__container .swiper-button-next{
        right: 1rem;
    }
}

@media screen and (min-width: 767px) {
    .home__container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .home__data{
        order: 2;
    }
    .home__info:nth-child(3){
        order: 3;
        text-align: right;
    }
    .home__info{
        margin-top: 10rem;
    }
    .home__info-description{
        padding-right: 0 !important;
    }

    .skills__container, 
    .qualification__container, 
    .services__container, 
    .contact__container{
        grid-template-columns: repeat(2, max-content);
    }
    .skills__container, .services__container{
        column-gap:5rem ;
    }

    .qualification__container{
        justify-content: center;
        column-gap: 10rem;
    }

    .projects__container{
        width: 500px;
    }

    .contact__form{
        width: 360px;
    }
    .contact__container{
        justify-content: center;
        column-gap: 8rem;
    }
}

@media screen and (min-width: 1023px) {
    .header{
        top: 0 !important;
        bottom: initial;
        background-color: hsl(207, 4%, 99%);
        transition: .4s;
    }

    .nav{
        width: initial;
        height: calc(3.5rem + 1.5rem);
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0 !important;
    }

    .nav__link i,
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__menu{
        width: initial;
        margin-left: auto;
        background-color: hsl(207, 4%, 99%);
        transition: background .4s;
    }
    .nav__list{
        display: flex;
        column-gap: 3rem;
    }
    .nav__link{
        font-size: .938rem;
    }

    .section{
        padding-block: 8rem 0 ;
    }

    .home__title{
        font-size: 2.25rem !important;
    }

    .scrollup{
        right: 3rem;
    }

    .show-scroll{
        bottom: 5rem;
    }

    .bg-header{
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    }
}


@media screen and (min-width: 1048px) {
    .container{
        margin-inline: auto !important;
    }
}

@media screen and (min-width: 1200px) {
    .section__border{
        padding-bottom: 6rem !important;
    }
    .section__subtitle{
        margin-bottom: 5rem !important;
    }

    .home__title{
        font-size: 1.5rem !important;
    }
    .home__blob{
        width: 400px !important;
        height: 580px !important;
        border-radius: 12.5rem !important;
    }
    .home__perfil{
        width: 340px !important;
        height: 520px !important;
        border-radius: 10.6rem !important;
    }
    .home__perfil img{
        width: 300px;
    }
    .home__shape-waves{
        width: 100px;
        left: -4rem;
        top: 10rem;
    }
    .home__shape-circle{
        width: 250px;
        bottom: -1rem;
        right: -5rem;
    }
    .home__data{
        row-gap: 2.5rem !important;
    }
    .home__social{
        column-gap: 2rem !important;
    }
    .home__social-link{
        font-size: 1.5rem;
    }
    .home__info{
        grid-template-columns: repeat(1, 140px) !important;
        row-gap: 4rem !important;
        margin-top: 16rem !important;
    }


    .skills__container{
        column-gap: 10rem;
    }
    .skills__title{
        margin-bottom: 3rem;
    }
    .skills__title i{
        font-size: 1.25rem;
    }
    .skills__name{
        font-size: .938rem;
    }
    .skills__info{
        gap: 3rem
    }

    .qualification__container{
        column-gap:14rem ;
    }
    .qualification__title{
        margin-bottom: 3rem;
    }
    .qualification__title i{
        font-size: 1.25rem;
    }
    .qualification__name{
        font-size: 1rem;
    }
    .qualification__img{
        width: 300px;
        left: -6rem;
        bottom: 5rem;
    }

    .services__container{
        grid-template-columns: repeat(3, max-content);
    }
    .services__card{
        width: 245px;
        height: 345px;
        border-radius: 7.6rem;
        padding: 3.5rem 1.5rem;
    }
    .services__card i{
        font-size: 2.5rem;
    }
    .services__border{
        width: 265px;
        height: 365px0;
        border-radius: 8.25rem;
    }

    .projects__container{
        width: 900px;
    }
    .projects__container .swiper-button-prev,
    .projects__container .swiper-button-next{
        font-size: 3rem;
    }
    .projects__container .swiper-button-prev{
        left: -1rem;
    }
    .projects__container .swiper-button-next{
        right: -1rem;
    }
    .projects__container .swiper-slide{
        margin-bottom: 6.5rem;
    }
    .projects__img{
        width: 320px;
        margin-bottom: 2rem;
    }

    .testimonial__container{
        width: 566px;
    }
    .testimonial__container .swiper-button-prev,
    .testimonial__container .swiper-button-next{
        font-size: 2.5rem;
    }
    .testimonial__container .swiper-button-prev{
        left: calc(50% -5rem);
    }
    .testimonial__container .swiper-button-next{
        left: calc(50% -5rem);
    }
    .testimonial__container .swiper-slide{
         margin-bottom: 6rem;
    }
    .testimonial__description{
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    .testimonial__img{
        width: 200px;
        top: 13rem;
        right: 4rem;
    }

    .contact__title{
        margin-bottom: 3rem;
    }
    .contact__title i{
        font-size: 1.25rem ;
    }
    .contact__info{
        row-gap: 3rem;
    }
    .contact__data-info{
        font-size: .938rem;
    }
    .contact__form{
        row-gap: 2.5rem;
    }

    .footer__container{
        padding: 4rem 0 3rem;
    }
    .footer__list{
        column-gap: 3rem;
        margin: 3rem 0;
    }
    .footer__social{
        column-gap: 2rem;
    }
    .footer__social-link{
        font-size: 1.5rem;
    }
    .footer__copy{
        margin-top: 5rem;
    }
}
